name: "Unit test"
permissions:
  contents: read
on:
  - push
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
    - name: Restore Record.Model dependencies
      run:  dotnet restore ./src/Record/Record.sln
    - name: Build Record
      run: dotnet build ./src/Record/Record.sln --no-restore 
    - name: Restore Record Nuget test
      run: |
        dotnet restore ./src/Record.Nuget.Test
    - name: Build Record Nuget test
      run: dotnet build ./src/Record.Nuget.Test --no-restore
    - name: Test
      run: |
        dotnet test ./src/Record/Record.sln --no-build --verbosity normal
        dotnet test ./src/Record.Nuget.Test --no-build --verbosity normal